

.main_co {
    min-height: 100vh
}

.defaut_nbpers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}           

h2 {
    padding: 0px 0px 15px;
}

form {
    background-image: url(../Images/Table_rogner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 40px;
    border: solid 4px rgba(57, 44, 30, 0.9);
    padding: 20px 30px 30px;
}

/* css général des champs */

form > div {
    width: 300px;
    padding-bottom: 20px;
    background-color: rgba(57, 44, 30, 0.9);
    padding: 15px;
}

.radio:hover {
    box-shadow: inset 2px 2px 0px 0px rgba(0, 0, 0, 0.7);
}

.radio {
    color: black;
    font-weight: 600;
    background-color: antiquewhite;
    padding: 5px;
    border: solid 2px;
    border-radius: 10px;
    width: 135px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.7);
}

label {
    margin: 5px;
    text-align: center;
}

div > div > label {
    color: black;
    font-weight: 600;
}

textarea, input {
    background-color: antiquewhite;
    border: solid 2px;
    border-radius: 5px;
}

/* css spécifiques à un champ */

.identité, .email, .password {
    display: flex;
    flex-direction: column;
}

.genre {
    margin-top: 7px;
}

.genre > div , .defaut_nbpers > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.allergie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* validation button */

button {
    background-color: rgb(57, 44, 30);
    color: antiquewhite;
    padding: 5px;
    border: solid 2px;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

button:hover {
    box-shadow: inset 0px 0px 20px 5px rgba(0, 0, 0, 0.7);
}

button:active {
    color: black;
    background-color: antiquewhite;
    transform: scale(0.9);
}
.login_button {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login_button > a {
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
}

.login_button > a:hover {
    color: rgb(144, 100, 39);
}

.login_button > a:active {
    color: antiquewhite;
}

@media screen and (max-width: 410px) {
    form {
        padding: 0px 10px 10px 10px;
    }
}