.main {
    padding: 0px;
}
.espace_user, .espace_admin {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.espace_info, .espace_reservation, .espace_modif {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px;
}

.separation {
    margin: 20px 10px;
    border: solid 2px white;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0px 5px;
}

input {  
    max-width: 325px;
}

#photo {
    color: white;
}

.message {
    color: greenyellow;
}

button {
    margin: 10px;
}

.lil_but {
    width: 100px;
    text-align: center;
}

/* tableau */
table {
    border-collapse: collapse;
}
th, td {
    color: white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 5px 0px 5px;
}

td {
    text-align: center;
}

@media screen and (min-width: 795px) {
    .espace_user, .espace_admin {
        width: 70%;
    }
    /* tableau */
    table {
        font-size: 20px;
    }
}